body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #4b0082;
    padding: 15px;
    color: white;
}

.quiz-item {
    background: #6a0dad;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-item:hover {
    background: #7b1fd0;
}

#addBtn {
    width: 100%;
    padding: 10px;
    background: #ff5733;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* MAIN */
.main-content {
    flex: 1;
    padding: 30px;
    background: #eee;
}

.quiz-editor input[type=text] {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 15px;
}

/* QUIZ EDITOR */
.quiz-editor input[type=text] {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.quiz-editor input[type=file] {
    margin-bottom: 20px;
}

/* QUIZ PARAMS */
.quiz-params {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.quiz-params label {
    font-weight: bold;
    color: #333;
}

.quiz-params input[type=number] {
    padding: 8px;
    border: 2px solid #00bfff;
    border-radius: 5px;
    font-size: 14px;
}

/* ANSWERS */
.answers {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.answer-item {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.answer-item span {
    font-weight: bold;
    color: white;
}

.answer-item input[type=text] {
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 4px;
}

/* MODAL */
.modal {
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
}

.modal-content {
    background:white;
    width:300px;
    margin:200px auto;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.close {
    float:right;
    cursor:pointer;
}

.modal-btn {
    padding:10px;
    margin:5px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.modal-btn[data-type="quiz"] {
    background:#00bfff;
    color:white;
}

.modal-btn[data-type="vrai-faux"] {
    background:#ff5733;
    color:white;
}
