.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6a0dad;
}

.title {
  color: white;
  margin-bottom: 30px;
  font-size: 3rem;
}

.join-form {
  display: flex;
  gap: 10px;
}

.join-form input {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.join-form button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  font-weight: bold;
}